.accueil
{    text-align: center;
    color: aliceblue;
    width: 400px;
    margin: auto;
    

}

h1{
    background-color: rgb(48, 182, 182);
}

label
{   border-radius: 25px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:rgb(255, 254, 254);
}

input{
    width: 250px;
    font-size: 30px;
    background-color:rgb(255, 255, 255);
}


a{
    font-size: 30px;
    color:rgb(0, 0, 0);
    background-color: rgb(48, 182, 182);
}

.l{
    padding: 10px 20px;
    background-color: rgb(48, 182, 182);
    border: none;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

html
{
    font-family: sans-serif;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    font-size: 30px;
    background-image: url(bg0.jpg);
}

marquee{
    animation: clignote 30s linear infinite;
}
form{
    background-color: rgb(48, 182, 182);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 380px;
    margin-top: auto;
    opacity: 0.8;
}